/*타이틀*/
.calender .year-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #4a4949;
}

.calender .month-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: #4a4949;
}

.month-title .month {
  font-size: 2rem;
  line-height: 1;
  margin: 0 20px;
  font-weight: bold;
  color: #4a4949;
}

.pre-button,
.next-button {
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background: none;
  color: #ffdfdf;
}

/*day 표시*/

.day-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 20px;
  background-color: #ffdfdf;
}

.day-container div {
  padding: 10px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  height: 40px;
  font-size: 1rem;
}

/*date 표시*/

.date-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.date-container a {
  color: #4a4949;
  text-decoration: none;
}

.date-container div {
  /* border: 0.5px solid #ffdfdf; */
  height: 100px;
}

.date-container .topline {
  padding-left: 4px;
}

.topline .completed {
  display: block;
  color: #aedefc;
}

.date-container .today {
  margin-left: 2px;
  font-size: 0.5rem;
}

.date-container .current-month {
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

.date-container .diff-month {
  color: #ffdfdf;
}

.diff-month .topline .completed {
  color: #ffdfdf;
}

/* 미디어쿼리 */
@media (max-width: 600px) {
  .day-container div {
    padding: 6px;
    height: 36px;
  }
  .date-container {
    font-size: 0.8rem;
  }
  .date-container div {
    height: 60px;
  }
}
